.search-container {

    form {
        input {
            height: 40px;
            width: 400px;
            border-radius: 5px;
            padding: 5px;
            font-size: 2rem;
            border: none;
            color: white;
        }
    }
}